body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    margin: 50px;

}

#message-el {
    font-style: italic;
    margin: 30px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#win-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    length:100vw;
    object-fit: cover;
    display: none;
    transition: opacity 0.5s ease-in-out;

}
